.speakers-page {
    height: 100vh;
    overflow: hidden;
    .background-image {
        height: 100%;
        width: 100%;
        position: relative;
        top: -60px;
        z-index: -1;
        background-image: url("../img/speaker2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}