.speakers-page {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .background-image {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../img/speaker2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .speakers-content {
    h1 {
      text-align: center;
      padding: 40px 0 0px 0;
      font-family: Roboto;
    }
    .tagline {
      text-align: center;
      font-style: italic;
      margin: 2.5rem;
      font-size: 20px;
    }
    .speakers-wrapper {
      margin-bottom: 40px;
      .speaker-container {
        position: relative;
        cursor: pointer;
        height: 300px;
        margin: 0 40px;
        img {
          width: 100%;
          height: 100%;
        }
        .quote-container {
          position: absolute;
          background: transparent;
          transition: all ease 0.3s;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          p {
            color: transparent;
            font-size: 24px;
            position: relative;
            top: 10%;
            left: auto;
            margin: 20px;
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
          }
        }
      }
      .speaker-container:hover {
        .quote-container {
          background: rgba(255, 0, 0, 0.801);
          transition: all 0.3s ease-in-out;
          p {
            color: #fff;
          }
        }
      }
      .speaker-description {
        p {
          text-align: center;
          font-style: italic;
        }
        .name {
          margin-top: 20px;
          font-size: 20px;
          margin-bottom: 12px;
        }
        .job-title {
          margin-top: 0px;
          padding: 0 20px;
          font-size: 16px;
        }
      }
    }
  }
}